<div class="container-sidebar">

    <div class="sidebar">
        <ul>
            <li><a  routerLink="../listeAdherent">liste adherents</a></li>
            <li><a  routerLink="../listeContrats">liste contrats</a></li>
            <li><a  routerLink="../listeReclamation">liste Reclamations</a></li>
            <li><a  routerLink="../branches">liste Branches</a></li>
            <li><a  routerLink="../produits">liste Produits</a></li>

        </ul>
    </div>

    <div class="content">
        <div class="page">
            <h1>Liste Produits </h1>
        </div>
    </div>
</div>
  